{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cater.ing | Feedback</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="{%static 'css/feedback-style.css' %}">
    <script src="{% static 'js/feedback_func.js' %}" type="text/javascript"></script>

</head>
<body>
    <div class="container mt-5 pt-5" id="feedback">
        <div class="d-flex flex-column text-center">
            <h1 class="mx">Feedback</h1>
            <h3>Tell us about your experience while ordering in catering</h3>
            <form id="form" method="POST">
                {% csrf_token %}
                <div class="form-group row justify-content-center">
                    <div class="col-6">
                        <select name="menu_type" id="menu_type" class="form-control input-lg my-3">
                            <option value="">Select menu</option>
                        </select>
                        <textarea class="form-control" rows="5" cols="70" name="feedback"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-info" id="submit">Submit</button>
            </form>
            
            <h3>{{ answer }}</h3>
            
        </div>
    </div>
</body>
</html>