.container {
    padding: 15px 15px;
}

.card {
  min-width: 25vw !important;
  min-height: 25vw;
  display: inline-block !important;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 3vw;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Poppins';
}

.menu {
  padding-top: 100px;
}


#food {
  max-width: 15vw;
  max-height: 15vw;
  padding-bottom: 3vw;
  object-fit: fit;
}

#normaltext {
  font-family: 'Poppins';
  text-align: center;
}

.but {
  font-family: 'Poppins';
}

.justify-content-center {
  margin-left: 0vw !important;
  margin-right: 0vw !important;
}

form {
  padding-top: 2vw;
}

#forms {
  font-family: 'Poppins';
  font-size: 12pt;
  display: inline-block;
}
