body {
    background-color: #97CECC;
}

#feedback h1 {
    font: normal 4rem Lobster;
}

#feedback h3 {
    font: normal 1.5rem Montserrat;
}

#feedback select {
    max-width: 200px;
    justify-content: center;
}