{% extends 'base.html' %}

{% block title %} Order | Cater.ing {% endblock title %}

{% block content %}

	<body>
		
		<div class="container mt-5" id="message">

			<br>
			
			<h2 class="pesan-sekarang">Pesan Sekarang!</h2>
				<p>Silakan isi semua datamu di form bawah ini ya! Biar kami tau kamu mau makan apa. Note(s) nggak wajib diisi kok. Sebelum kamu memencet tombol "Pesan", jangan lupa dicek dulu ya. Setelah kamu memencet tombol "Pesan", langsung di klik tombol "Ok" atau "Cancel"-nya ya.</p>
				
			<br>
				
				<form method="post">

					<div class="row">
						{% csrf_token %}

						<div class="col-md-5 col-sm-5">
					    	<div class="form-group">
					    	
					    		<label for="usr"><strong>Nama Pemesan</strong></label>
					    		<input type="text" class="form-control" id="usr" placeholder="Type your name here" name="nama" required="True">
							</div>
						</div>

						<div class="col-sm-2"> </div>

					    <div class="col-md-5 col-sm-5">
					    	<div class="form-group">
					      		<label for="usr"><strong>Pilihan Menu</strong></label><br>
			    				<span class="help-block"><small>Cara pengisian: menu 1 - kuantitas, menu 2- kuantitas, dst.</small></span>
			    				<input type="text" class="form-control" id="usr" placeholder="Type your menu here" name="menu" required="True">
					    	</div>
					    </div>

			    	</div>

			    	<br><br>

			    	<div class="row">

						<div class="col-md-5 col-sm-5">
					    	<div class="form-group">
					    		<label for="usr"><strong>Alamat Pengiriman</strong></label>
					      		<input type="text" class="form-control" id="usr" placeholder="Type your address here" name="alamat" required="True">
							</div>
						</div>

						<div class="col-sm-2"> </div>

					    <div class="col-md-5 col-sm-5">
					    	<div class="form-group">	
					      		<label for="usr"><strong>Jenis Pembayaran</strong></label>
			      				<input type="text" class="form-control" id="usr" placeholder="Type your payment here" name="pembayaran" required="True">
					    	</div>
					    </div>

			    	</div>

			    	<br><br>

			    	<div class="row">

						<div class="col-md-5 col-sm-5">			
					    	<div class="form-group">
					    		<label for="usr"><strong>Telp/HP</strong></label>
			      				<input type="text" class="form-control" id="usr" placeholder="Type your number here" name="telepon" required="True">
							</div>
						</div>

						<div class="col-sm-2"> </div>

					    <div class="col-md-5 col-sm-5">
					    	<div class="form-group">
					      		<label for="usr"><strong>Note(s)</strong></label>
			      				<textarea class="form-control" rows="3" id="comment" placeholder="Type your notes here" name="notes"></textarea>
					    	</div>
					    </div>

			    	</div>

			    	<br>

			    	<div class="row">

			    		<div class="col-md-5 col-sm-5"> </div>

			    		<div class="col-md-2 col-sm-2">
			    			<button type="submit" value="submit" class="btn btn-default" onclick="orderFunction()">Pesan</button>
			    		</div>

			    		<div class="col-md-5 col-sm-5"></div>

			    	</div>
				
				</form>
		
		</div>

		<script>

			function orderFunction() {
  			var userPreference;

			if (confirm("Kamu yakin mau pesan ini?") == true) {
				userPreference = "Data tersimpan!";
			} else {
				userPreference = "Data tidak tersimpan!!";
			}

			document.getElementById("message").innerHTML = userPreference;
		
		</script>

	</body>

{% endblock %}