body {
    background-color: #97CECC;
}


#login h1 {
    color: white;
    font: normal 4rem Lobster;
    -webkit-text-stroke: 1px #12908E;
}

#login label {
    color: #12908E;
    font: normal 2rem Montserrat;
}

#login .btn {
    font: normal 1rem Montserrat;
}

#warning {
    color: red;
    font: bold 1rem Montserrat;
}