{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | Cater.ing</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/login-style.css' %}"> 

</head>
<body>
    <div class="container mt-5 pt-5" id="login">
        <div class="d-flex flex-column text-center">
            <h1 class="mx">Login</h1>
            <form id="form" method="POST">
                {% csrf_token %}
                <div class="form-group row justify-content-center">
                    <div class="col-6">
                        <label class="mt-3" for="username">Username</label>
                        <input name="username" type="text" class="form-control" id="username" required>
                        <label class="mt-3" for="username">Password</label>
                        <input name="password" type="password" class="form-control" id="password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-info" id="submit">Submit</button>
            </form>
            
    
            
            {% if error %}
                <div class="border border-danger rounded-pill mt-3 p-3" id="warning">
                    {{ error }}
                </div>
            {% endif %}
            
        </div>
    </div>
</body>
</html>
