body{
	margin: 30;
    background: #FFFFFF;
    background-size: 100% 100%;
    font-family: 'Montserrat';
    min-height: 100%;
}
body.articlebg{
	background: #97CECC;
	font-family: 'Montserrat';
	align-self: center;
	justify-content: center;
}
#see-more {
	background-color: #C13F3F;
	color:#FFFFFF;
	border: none;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	cursor: pointer;
}
p.judul{
	font-weight: bold; 
	margin: 0.8; 
	text-align: center;
	font-size: 1000rem;
}
p.lildesc{
	font-size: 1.3rem;
	color: #00000F;
	text-align: center;
	margin: 0.9px;
}
p.x{
	font-weight: bold;
	text-align: center;
	font-size: 3.9rem;
}
p.descarticle{
	font-size: 0.9rem;
}
p.title{
	font-size: 3rem;
	font-style: italic;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem darkgrey;
}
p.titlearticle{
	font-size:4rem;
	font-style: italic;
	font-weight: bolder;
}
img.featured{
	width: 15rem;
}
img.featuredarticle{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
img.crsl{
	 width: 100%; 
	 height: auto; 
}
#at{
	align-content: center;
  	justify-content: center;
}
.card{
	background: #97CECC;
	margin: 0 auto;
	float: none;
}
