a .navbar-brand {
    font-family: Lobster !important;
}

a .nav-link {
    padding: 10px 10px !important;
}

.header-subtitle {
    font: normal 1.10rem Montserrat;
    padding: 10px 10px !important;
}
