a:link, a:visited {
    color: #12908E;
    cursor: context-menu;
}

a:link:active, a:visited:active {
    color: #12908E;
}


.back-text{
    font: normal 1rem Poppins;

}

.carousel-img {
    margin: 5vh 5vh;
    border-radius: 50%;
    width: 20vw;
}

.carousel-background {
    background-color: #12908E;
    margin: 0 auto;
    width: 75vw;
}

.carousel-content {
    padding: 10px 10px;
    text-align: center;
}

.carousel-subtitle {
    color: white;
    font-family: Roboto;
}

.leftmost {
    margin-left: 0% !important;
}

.our-team-img{
    max-width: 75%;
}

.our-team-subtitle{
    color: #16594A;
    font: normal 1.25rem Poppins;
}

.our-team-text{
    color: #16594A;
    font: bold 1.5rem Poppins;
}

.our-team-title {
    color: #16594A;
    font: bolder 2.5rem "Fairplay Display";
}

.rightmost {
    margin-right: 0% !important;
}

#wrapper {
    background-color: #97CECC;
    min-height: 100vh;
}