.container {
    padding: 15px 15px;
}

.container h1 {
    font: normal 2rem Roboto !important;
}

.row .answer-box {
    background-color: #97CECC;
    display: table-cell;
    font: normal 1rem Montserrat;
    height: 30vh;
    margin: 15px 15px;
    padding: 15px 15px;
    text-align: center;
    width: 80vw;
}

.input-style {
    width: 70vw !important;
    margin: 2% 0%;
    border-color: #12908E !important;
}