{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> Menu | Cater-ing </title>

    <link rel="stylesheet" href="{% static 'css/Navbar-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Menu-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
          <a class="navbar-brand header-title" href="{% url 'homepage:homepage' %}"><img src="{% static 'images/favicon.png' %}" width="50" height="50" alt="">
              <span class="header-title">Cater.ing</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active header-subtitle">
                      <a class="nav-link" href="{% url 'homepage:homepage' %}">Home <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item active header-subtitle">
                      <a class="nav-link" href="{% url 'menu:menu' %}">Menu <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item active header-subtitle">
                      <a class="nav-link" href="{% url 'homepage:qna' %}">Q&A<span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item active header-subtitle">
                      <a class="nav-link" href="#">Article <span class="sr-only"></span></a>
                  </li>
              </ul>
              <a href="{% url 'order:order' %}" class="btn btn-warning header-subtitle">Order Now</a>
          </div>
      </nav>
    </div>

    <div class="menu row justify-content-center">
      <div class="card" align="center">
        <h2> Salad </h2>
        <img id="food" src="{% static 'images/salad.jpg' %}" alt="Oops, we can't load the image.">
        <p id='normaltext'> Ini adalah menu Salad terbaik <br>
        di Cater-ing. Menu salad ini <br>
        cocok untuk makanan besama keluarga <br>
        atau bersama rekan-rekan kerja. </p>
      </div>

      <div class="card" align="center">
        <h2> Steak </h2>
        <img id="food" src="{% static 'images/steak.jpeg' %}" alt="Oops, we can't load the image.">
        <p id='normaltext'> Ini adalah menu Steak kami. <br>
        Steak ini cukup untuk 20 kepala <br>
        Steak kami terbuat dari daging berkualitas. </p>
      </div>

      <div class="card" align="center">
        <h2> Halibut </h2>
        <img id="food" src="{% static 'images/halibut.jpg' %}" alt="Oops, we can't load the image.">
        <p id='normaltext'> Ini adalah menu Halibut kami. <br>
        Halibut merupakan ikan yang bernutrisi <br>
        dan kami menyediakan ikan terbaik. </p>
      </div>
    </div>

    <div class="but" align="center">
      <button type="button" class="btn btn-info"> Pesan sekarang! </button>
    </div>

    <br>

    <div class="but" align="center">
      <p> Ingin request makanan kesukaanmu? </p>
      <a href="{% url 'menu:requestMenu' %}" class="btn btn-info"> Klik disini! </a>
  </body>
</html>
