{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> Request Menu | Cater-ing </title>

    <link rel="stylesheet" href="{% static 'css/Navbar-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Menu-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
          <a class="navbar-brand header-title" href="{% url 'homepage:homepage' %}"><img src="{% static 'images/favicon.png' %}" width="50" height="50" alt="">
              <span class="header-title">Cater.ing</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active header-subtitle">
                      <a class="nav-link" href="{% url 'homepage:homepage' %}">Home <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item active header-subtitle">
                      <a class="nav-link" href="{% url 'menu:menu' %}">Menu <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item active header-subtitle">
                      <a class="nav-link" href="{% url 'homepage:qna' %}">Q&A<span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item active header-subtitle">
                      <a class="nav-link" href="#">Article <span class="sr-only"></span></a>
                  </li>
              </ul>
              <a href="{% url 'order:order' %}" class="btn btn-warning header-subtitle">Order Now</a>
          </div>
      </nav>
    </div>

    <div class="rectangle" align="center">
        <h1> Isi detail makananmu! </h1>
        <form method="post">
          {% csrf_token %}
          <table>
            <div class="form-group">
              <table>
                {{menu_baru.as_table}}
              </table>
              <br>
              <button class="btn btn-info" type="submit" name="button">Submit menu anda!</button>
            </div>
          </table>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
