{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{%static 'css/Navbar-style.css' %}"> 
    <link rel="stylesheet" href="{%static 'css/Navbar-style.css' %}">
    <link rel="stylesheet" href="{%static 'css/QnA-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
    <script src="{% static 'js/qna_func.js' %}" type="text/javascript"></script>

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/Form-Pemesanan-style' %}"> -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <a class="navbar-brand header-title" href="#"><img src="{% static 'images/favicon.png' %}" width="50" height="50" alt="">
            <span class="header-title">Cater.ing</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'homepage:homepage'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'menu:menu' %}">Menu <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'homepage:qna'%}">Q&A<span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'feedback:feedback'%}">Feedback<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'status:article'%}">Article <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <a href="{% url 'order:order' %}" class="btn btn-warning header-subtitle mx-3">Order Now</a> 
            <a href="{% url 'login:logout' %}" class="btn btn-warning header-subtitle">Logout</a>
            {% else %}
            <a href="{% url 'login:login' %}" class="btn btn-warning header-subtitle mx-3">Login</a>
            {% endif %}
        </div>    
    </nav>

    {% block content %}
    {% endblock %}
</body>
