{% extends 'base.html' %}

{% block title %}QnA | Cater.ing{% endblock title %}

{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center p-5">
            {% if user.is_authenticated %}
            <form class="text-center" method="POST">
                {% csrf_token %}
                <h1>Feel free to ask</h1>
                <input class="form-control input-style center-content" type="text" name="keyword" placeholder="Type something">
                <button onmouseover="change_style()" onmouseout="change_style_back()" onclick="submit_form()" type="submit" id="button" class="btn btn-info">Search</button>
            </form>
            {% else %}
            <form class="text-center" method="POST">
                {% csrf_token %}
                <h1>Feel free to ask</h1>
                <input onkeydown="cannot_fill()" class="form-control input-style center-content" type="text" name="keyword" placeholder="Type something">
                <button onmouseover="change_style()" onmouseout="change_style_back()" onclick="submit_form()" type="submit" id="button" class="btn btn-info">Search</button>
            </form>
            {% endif %}
            
            <div class="mt-3 answer-box">
                {{answer.answer}}
            </div>
        </div>
    </div>
{% endblock %}