{% extends 'base.html' %}
{% load static %}


{% block title %}Cara Diet Turun Berat Badan yang Aman Tanpa Bahayakan Kesehatan | Article | Cater.ing{% endblock title %}
{% block content %}
<script type="text/javascript">
  function change_style() {
    document.getElementById("trans").style.backgroundColor = "#FFC107";
}
function change_style_back() {
    document.getElementById("trans").style.backgroundColor = "#17A2B8";
}
</script>
<div id="trans">
        <a href="{% url 'status:article' %}" class="btn btn-info" role="button" button onmouseover="change_style()" onmouseout="change_style_back()"> << Back to Article 
        </a>
</div>


  <br><br>
  <div class="container-fluid">
      <br><br>
          <div class="row">
            <div class="col-sm-1"><br></div>

            <div class="col-sm-10">
              <p class="x">Cara Diet Turun Berat Badan yang Aman Tanpa Bahayakan Kesehatan</p>
              <hr class="new5" style="border: 2px solid black;">
              <p class="lildesc">Written by Nabilla Tashandra - Kompas. Date released 19 Oktober 2019</p>
              <br>
              <img class="featuredarticle" src="{% static 'images/f.jpg' %}" alt="New York" style="height:70%; width:70%;">
              <br>

              <p class="descarticle">Sah-sah saja untuk mulai berdiet jika Anda mau punya berat badan ideal. Namun, Anda harus pintar-pintar membuat strateginya agar rencana diet sehat berjalan mulus tanpa hambatan. Alih-alih berat badan turun, angka di timbangan malah akan melonjak drastis jika salah strategi.</p>
              <p class="descarticle">Pada dasarnya, kelebihan berat badan terjadi akibat terlalu banyak kalori yang masuk ke dalam tubuh. Sementara kalori yang dikeluarkan tidak sebanding dengan yang masuk, sehingga kalori tersebut menumpuk dan berubah menjadi lemak. Pada akhirnya lemaklah yang membuat perut Anda buncit dan ukuran paha serta lengan bertambah besar.</p>
              <p class="descarticle">Meski Anda sangat ingin mendapatkan berat badan yang ideal, sebaiknya Anda pilih-pilih diet yang tidak membahayakan kesehatan. Tidak sulit kok untuk menerapkan diet sehat alami, sebab pada dasarnya semua orang – mau yang kelebihan berat badan atau tidak – harus melakukan diet ini agar terhindar dari berbagai penyakit kronis di kemudian. Lalu, bagaimana cara diet sehat alami?</p>

              <p class="descarticle"><strong>1. Pilih makanan yang tepat, jangan melewatkan waktu makan.</strong></p>
              <p class="descarticle">Cara diet sehat alami yang pertama adalah dengan memilih makanan yang Anda konsumsi sehari-hari. Ya, pemilihan asupan makanan yang tepat memegang peran penting untuk kesuksesan program diet Anda.</p>
              <p class="descarticle">Cara diet sehat ini dapat Anda lakukan dengan menghindari makanan yang berlemak serta mengandung gula tinggi. Makanan dengan gula tinggi memiliki nilai kalori yang tinggi pula sehingga buruk bagi tubuh. Selain itu, hindari pula makanan kemasan serta gorengan karena makanan seperti itu hanya akan menggagalkan diet sehat Anda saja.</p>
              <p class="descarticle">Sebaliknya, kalau Anda mau menjalani diet sehat alami, perbanyak konsumsi buah dan sayur. Tetapi, bukan berarti Anda menghindari makan nasi atau makan lauk-pauk ya. Semua makanan itu tetap kok diperlukan bagi tubuh, namun Anda harus mengatur porsinya dengan baik.</p>
              <p class="descarticle"> </p>

              <p class="descarticle"><strong>2. Atur porsinya sesuai dengan kebutuhan</strong></p>
              <p class="descarticle">Setelah memilih makanan yang tepat, maka cara diet sehat selanjutnya adalah mengatur porsi makanan tersebut. Anda harus makan sesuai dengan kebutuhan kalori per hari. Tentu, ini tidak bisa sembarangan menghitungnya. Kalau Anda kesulitan Anda bisa konsultasikan hal ini dengan ahli gizi. Namun, bagi Anda yang memiliki berat badan, biasanya akan diperbolehkan untuk mengonsumsi makanan sebanyak 1500 kalori. </p>
              <p class="descarticle">Untuk menerapkan cara diet sehat, ingatlah selalu bahwa dalam satu kali makan Anda harus menyeimbangkan semua zat gizi yang diperlukan tubuh. Anda dapat menyesuaikannya dengan prinsip gizi seimbang, yaitu ada karbohidrat, protein, lemak, vitamin, dan mineral.</p>
              <p class="descarticle">Jadi, dalam satu kali makan, Anda harus mengonsumsi makanan pokok, lauk hewani, lauk nabati, sayur satu mangkuk, serta buah sebagai selingan. Anda bisa menerapkan porsi sesuai dengan ilustrasi gizi seimbang berikut ini.</p>
              <p class="descarticle"> </p>


              <p class="descarticle"><strong>3. Ganti gula dengan pemanis yang lebih sehat</strong></p>
              <p class="descarticle">Banyak orang sering meremehkan cara diet sehat satu ini. Padahal, cara diet sehat dengan mengganti gula dengan pemanis yang lebih sehat adalah salah satu ampuh untuk menurunkan berat badan Anda.</p>
              <p class="descarticle">Seberapa sering Anda menambahkan gula dalam makanan atau minuman Anda? Banyak orang yang tidak tahu seberapa banyak ia mengonsumsi gula dalam satu hari. Ingat, gula dan makanan manis adalah makanan penyebab berat badan berlebih, dan tentu saja buruk bagi kadar gula darah Anda.</p>
              <p class="descarticle">Mulai sekarang, Anda sebaiknya mengganti gula dengan pemanis yang memiliki kalori lebih rendah – tetapi tak kalah manisnya dengan gula. Sekarang ini telah banyak pemanis buatan yang memiliki kalori yang rendah, aman bagi kadar gula darah, dan tak bikin timbangan berat badan melonjak.</p>
              <p class="descarticle">  </p>

              <p class="descarticle"><strong>4. Jadikan olahraga sebagai kebutuhan</strong></p>
              <p class="descarticle">Olahraga adalah cara diet sehat alami yang paling mudah untuk Anda lakukan. Pasalnya diet sehat alami tidak akan optimal jika tak melakukan olahraga. Oleh sebab itu, mulai sekarang jadikan olahraga sebagai kebutuhan, bukan lagi kewajiban.</p>
              <p class="descarticle">Pasalnya tubuh Anda perlu mengeluarkan dan membakar kalori-kalori yang masuk ke dalam tubuh. Kalau bukan dengan olahraga rutin, dengan cara apa lagi tumpukan kalori – yang berbentuk lemak – itu bisa dihilangkan?</p>
              <p class="descarticle">Mulailah membiasakan diri untuk olahraga secara rutin setiap hari, setidaknya 30 menit. Untuk memulainya, Anda bisa kok berjalan-jalan santai atau jogging selama 30 menit di area rumah.</p>
              <p class="descarticle">  </p>

              <br>
            </div>

            <div class="col-sm-1">
             <br>
            </div>
          </div>

          <br> <br>

        </div>

        <div class="allcontent">

    </div>

          {% if user.is_authenticated %}
            <form method="POST" class="form">
              {% csrf_token %}
              <div class="form-group">
                <label for="status" class="labelstatus">Hi, {{ request.user.username }} drop your comment below!</label>
                <input type="text" class="form-control"  id="statusfield" placeholder="e.g: Thanks for the info" name="statusfield">
              </div>
              <button type="submit" class="btn" id='submit'>Submit</button>
            </form>
            <div class="table_data" id="table_data">
              <div class="container mt-6">
                <table class="table table-hover" id="table">
                  <thead> <tr>
                  <th scope="col" style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Order No.</th>
                  <th scope="col" style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Sender</th>
                  <th scope="col" style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Comment</th>
                  <th scope="col"style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Date and Time</th>
                  </tr></thead>
                  <div class="statuses">
                      <tbody>
                      {% for stat in all_status %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ request.user.username }}</td>
                          <td>{{ stat.statusfield }}</td>
                          <td>{{ stat.time }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </div>
                </table>
              </div>
            </div>
          {% else %}
            <h3 style="color:#97CECC"><strong>Dear, readers. Please login to drop your comment and see others comment<strong></h3>
          {% endif %}




{% endblock %}
