{% extends 'base.html' %}
{% load static %}

{% block title %}Article | Cater.ing{% endblock title %}
{% block content %}
<script type="text/javascript">
	function translateToEng() {
  var x = document.getElementsByClassName("excerpt");
  var y = document.getElementsByClassName("title")
  x[0].innerHTML = "We all know that eating lifestyle could affect anyone in a unique way. This lifestyle also influences the health level of our skin. For example, high consumption of sugar and processed food could make your skin darker. Let see how is the full effects at this article...";
  x[1].innerHTML = "It is really good to start your diet if you want to have the ideal body looks. But, you have to prepare your strategy, to make sure that your diet plan isn't hesitated. Because, any failures of diet could led to weight increasing..."
  y[0].innerHTML = "Keto Diet may Lead to Skin Infection, How is it?"
  y[1].innerHTML = "Safe Ways to Keep your Health in Diet Plan"
}

function translateToInd() {
  var x = document.getElementsByClassName("excerpt");
  var y = document.getElementsByClassName("title")
  x[0].innerHTML = "Kita semua tahu bahwa pola makan punya dampak yang berbeda-beda pada setiap individu. Pola makan juga sangat berdampak pada kulit. Banyak mengonsumsi makanan olahan dan tinggi gula, misalnya, terbukti merusak kulit. Mari simak lebih lanjut mengenai hal tersebut...";
  x[1].innerHTML = "Sah-sah saja untuk mulai berdiet jika Anda mau punya berat badan ideal. Namun, Anda harus pintar-pintar membuat strateginya agar rencana diet sehat berjalan mulus tanpa hambatan. Alih-alih berat badan turun, angka di timbangan malah akan melonjak drastis jika salah strategi..."
  y[0].innerHTML = "Diet Keto Bisa Picu Peradangan Kulit, Apa Sebabnya?"
  y[1].innerHTML = "Cara Diet Turun Berat Badan yang Aman Tanpa Bahayakan Kesehatan"
}
</script>


  <h2 style="font-weight: bold; margin: 0.8; text-align: center;">ARTICLES</h2>
    <hr class="new5" style="border: 2px solid black; width: 79%; ">
    <br>
<div class="container">
  <hr class="new5" style="border: 2px solid black;">
 <div class="row">
 	<div class="col-sm-10"></div>
 	<div class="col-sm-1">
 		<div class ="translate">
 		<button onclick="translateToEng()">ENG</button>
 		</div>
 	</div>
    <div class="col-sm-1">
    	<div class ="translate">
    	<button onclick="translateToInd()">INA</button>
    	</div>
	</div>
</div>
</div>

	<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div id = "at" class="col-sm-2"> <img class="featured" src="{% static 'images/c.jpg' %}"> </div>
    <div id = "at" class="col-sm-7">
      <a href="{% url 'status:status' %}" style="color: #000000; text-decoration:none">
    	   <p class="title">Diet Keto Bisa Picu Peradangan Kulit, Apa Sebabnya?</p>
    	   <p class="excerpt">Kita semua tahu bahwa pola makan punya dampak yang berbeda-beda pada setiap individu. Pola makan juga sangat berdampak pada kulit. Banyak mengonsumsi makanan olahan dan tinggi gula, misalnya, terbukti merusak kulit. Mari simak lebih lanjut mengenai hal tersebut...</p>
       </a>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <br><br><br>
  <div class="row">
    <div class="col-sm-1"></div>
    <div id = "at" class="col-sm-2"> <img class="featured" src="{% static 'images/c.jpg' %}"> </div>
    <div id = "at" class="col-sm-7">
      <a href="{% url 'status:article_dua' %}" style="color: #000000; text-decoration:none">
    	<p class="title">Cara Diet Turun Berat Badan yang Aman Tanpa Bahayakan Kesehatan</p>
    	<p class="excerpt">Sah-sah saja untuk mulai berdiet jika Anda mau punya berat badan ideal. Namun, Anda harus pintar-pintar membuat strateginya agar rencana diet sehat berjalan mulus tanpa hambatan. Alih-alih berat badan turun, angka di timbangan malah akan melonjak drastis jika salah strategi...</p>
    </a>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br><br><br>

</div>


{% endblock %}
