{% extends 'base.html' %}
{% load static %}


{% block title %}Diet Keto Bisa Picu Peradangan Kulit, Apa Sebabnya? | Article | Cater.ing{% endblock title %}
{% block content %}
<script type="text/javascript">
  function change_style() {
    document.getElementById("trans").style.backgroundColor = "#FFC107";

}

function change_style_back() {
    document.getElementById("trans").style.backgroundColor = "#17A2B8";
}
</script>
<div id="trans">
        <a href="{% url 'status:article' %}" class="btn btn-info" role="button" button onmouseover="change_style()" onmouseout="change_style_back()"> << Back to Article 
        </a>
</div>

  <br><br>
	<div class="container-fluid">
			<br><br>
          <div class="row">
            <div class="col-sm-1"><br></div>
            
            <div class="col-sm-10">
              <p class="x">Diet Keto Bisa Picu Peradangan Kulit, Apa Sebabnya?</p>
              <hr class="new5" style="border: 2px solid black;">
              <p class="lildesc">Written by Nabilla Tashandra - Kompas. Date released 19 Oktober 2019</p>
              <br>
              <img class="featuredarticle" src="{% static 'images/c.jpg' %}" alt="New York" style="height:70%; width:70%;">
              <br>
              <p class="descarticle">KOMPAS.com - Kita semua tahu bahwa pola makan punya dampak yang berbeda-beda pada setiap individu. Pola makan juga sangat berdampak pada kulit. Banyak mengonsumsi makanan olahan dan tinggi gula, misalnya, terbukti merusak kulit. Sementara, banyak mengonsumsi sumber makanan nabati bisa membuat kulit tampak lebih berkilau dan halus. Sebuah riset secara khusus menyoroti pola makan yang tepat demi kulit yang tampak lebih baik. Studi yang dipublikasikan di Journal of Investigative Dermatology menganalisa salah satu pola makan paling populer, yaitu diet ketogenik.</p>
              <p class="descarticle">Lemak sehat sangat penting untuk microbiome kulit yang sehat. Namun, studi ini menunjukkan, bahkan jenis lemak sehat sekalipun memiliki efek terhadap kulit. Dalam studi yang dilakukan terhadap hewan, para peneliti menganalisa berbagai variasi diet keto tinggi lemak -sebab tidak setiap orang mengikuti setiap rencana makan. Hasilnya, mereka menemukan lemak tertentu berdampak pada kondisi peradangan pada kulit. Diet ketogenik merupakan diet yang berat dalam trigliserida rantai menengah (MCT), seperti minyak kelapa, yang menyebabkan peradangan yang diinduksi psoriasis. Terutama, ketika lemak ini dikombinasikan dengan asam lemak omega-3</p>
              <p class="descarticle">Di sisi lain, para peneliti menemukan, diet keto seimbang dengan trigliserida rantai panjang (LCT), seperti minyak zaitun, minyak kedelai, ikan, kacang-kacangan, dan alpukat, tidak menyebabkan peradangan kulit. Singkatnya, jika kamu mengikuti diet keto dan rentan terhadap gejala-gejala seperti psoriasis, kamu mungkin perlu berhati-hati dengan minyak kelapa.</p>
              <p class="descarticle">Untuk diketahui, minyak kelapa merupakan salah satu bahan baku utama untuk para pelaku diet keto. Namun, MCT telah terbukti memiliki beberapa manfaat kesehatan yang tergolong signifikan, seperti meningkatkan energi, menurunkan kolesterol, mengelola epilepsi, dan lainnya. Jadi, bukan berarti kamu tidak boleh sama sekali mengonsumsi lemak ini. Bahkan, minyak kelapa juga telah terbukti dapat membantu gejala psoriasis ketika dioleskan ke kulit yang meradang. Meskipun penelitian lebih lanjut diperlukan untuk membuat korelasi yang pasti, studi ini hanya menekankan kecantikan kulit benar-benar diciptakan dari dalam dan dimulai dengan pola makan seimbang. Namun, apakah ini merupakan penyebab ruam keto? Penelitian ini bukan yang pertama untuk mengukur efek keto pada microbiome kulit. Para ilmuwan sebelumnya telah menciptakan kondisi yang disebut "ruam keto," setelah mempelajari tingkat peradangan kulit pada individu yang baru beralih ke pola makan keto.</p>
              <br>
            </div>

            <div class="col-sm-1">
             <br>
            </div>
          </div>

          <br> <br> <br> <br>

        </div>

        <div class="allcontent">

    </div>

          {% if user.is_authenticated %}   
            <form method="POST" class="form">
              {% csrf_token %}
              <div class="form-group">
                <label for="status" class="labelstatus">Hi, {{ request.user.username }} drop your comment below!</label>
                <input type="text" class="form-control"  id="statusfield" placeholder="e.g: Thanks for the info" name="statusfield">
              </div>
              <button type="submit" class="btn" id='submit'>Submit</button>
            </form>
            <div class="table_data" id="table_data">
              <div class="container mt-6"> 
                <table class="table table-hover" id="table">
                  <thead> <tr>
                  <th scope="col" style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Order No.</th>
                  <th scope="col" style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Sender</th>
                  <th scope="col" style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Comment</th>
                  <th scope="col"style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Date and Time</th>
                  </tr></thead>     
                  <div class="statuses">
                      <tbody>
                      {% for stat in all_status %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ request.user.username }}</td>
                          <td>{{ stat.statusfield }}</td>
                          <td>{{ stat.time }}</td>                          
                        </tr>
                      {% endfor %}
                      </tbody>
                  </div>
                </table>
              </div>
            </div>
          {% else %}
            <h3 style="color:#97CECC"><strong>Dear, readers. Please login to drop your comment and see others comment<strong></h3>
          {% endif %}
    



{% endblock %}
